token: mytoken
captcha_url: http://www.example.com/captcha-1.jpg # to test captcha upload
captcha_id: 123456789 # use an ID of a solved captcha on your account
solution: abc123 # use the captcha_id solution
